<!DOCTYPE html>
<html lang="{% block lang %}es{% endblock %}">
<head>
    {% block head %}
        {% include 'AppBundle:default:head.html.twig' %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container col-md-12">
        {% block navbar %}
            {% include 'AppBundle:default:navbar.html.twig' %}
        {% endblock %}
    </div>
    <div class="row" id="wrapper">



        <main class="container col-md-12">
            <div class="container maindiv ">
            {% block main %}
                {% include 'AppBundle:default:index.html.twig' %}
            {% endblock %}
            </div>
        </main>


        <footer class="container col-md-12">
            {% block footer %}
                {% include 'AppBundle:default:footer.html.twig' %}
            {% endblock %}
        </footer>

        {% block javascripts %}
            {% javascripts
                '../vendor/components/jquery/jquery.min.js'
                '../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
                'js/main.js'
                output='js/compiled/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </div><!-- /.container -->

{% endblock %}
</body>
</html>