{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    <div class="container divwithform">
    {% if anuncios|length <=0 %}
        <p>Aun no hay anuncios en tu lista de seguimiento.</p>
    {% endif %}
    <p>{{ avisar }}</p>

    {% for anuncio in anuncios %}
        <div class="col-sm-6 col-lg-3 col-md-3 anuncio go">
            <div class="thumbnail anuncioverthumbnail">

                <img class="anunciothumb" src="../../{{ anuncio.imageUno }}" alt="Imagen del Anuncio" />

                <div class="caption">

                    <h4 class="anunciotitulo"><a data-toggle="tooltip" title="{{ anuncio.titulo }}" href="{{ path('anuncio_verdetalle', {'id' : anuncio.id}) }}">{{ anuncio.titulo }}</a></h4>
                    <p>Fecha: {{ anuncio.fecha|date('d-m-Y') }}</p>
                    <p class="anunciodivtexto">{{ anuncio.texto }}</p>
                </div>
                <div class="ratings">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                        <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Autenticate para hacer ofertas!" href="{{ path("fos_user_security_login") }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>
                    {% endif %}
                    {% if (is_granted('IS_AUTHENTICATED_FULLY')) and (app.user.username != anuncio.usuario) %}
                        <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Haz tu oferta ahora!" href="{{ path('oferta_new', {'idanuncio' : anuncio.id}) }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>

                        <a href="{{ path('seguir_dejar', {'id' : anuncio.id}) }}">Dejar de Seguir</a>
                    {% endif %}
                    {% if (is_granted('IS_AUTHENTICATED_FULLY')) and (app.user.username == anuncio.usuario) %}
                        <p class="pull-right anuncioofertas">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></p>
                    {% endif %}
                    <p class="anuncioprecio">Precio: {{ anuncio.precio }}€</p>
                    <p>Usuario: {{ anuncio.usuario }}
                        {% if (is_granted('IS_AUTHENTICATED_FULLY')) and app.user.username == anuncio.usuario %}
                            <a href="{{ path("fos_user_profile_show") }}">(Realizado por mi)</a>
                        {% endif %}
                    </p>


                </div>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}
