{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
{% endblock %}