{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oferta list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Texto</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ofertum in ofertas %}
            <tr>
                <td><a href="{{ path('oferta_show', { 'id': ofertum.id }) }}">{{ ofertum.id }}</a></td>
                <td>{{ ofertum.titulo }}</td>
                <td>{{ ofertum.texto }}</td>
                <td>{{ ofertum.precio }}</td>
                <td>{% if ofertum.fecha %}{{ ofertum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('oferta_show', { 'id': ofertum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('oferta_edit', { 'id': ofertum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oferta_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
