{% extends 'AppBundle::base.html.twig' %}
{% block main %}

<div class="container divwithform">
<div class="col-sm-6 col-lg-6 col-md-6 container divwithform">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

</div>

    <div class="col-sm-6 col-lg-6 col-md-6 anuncio go">
        <div class="thumbnail anuncioverthumbnail">

            <img class="anunciothumb" src="../../../{{ anuncio.imageUno }}" alt="Imagen del Anuncio" />

            <div class="caption">

                <h4 class="anunciotitulo">{{ anuncio.titulo }}</h4>
                <p>Fecha: {{ anuncio.fecha|date('d-m-Y') }}</p>
                <p class="anunciodivtexto">{{ anuncio.texto }}</p>
            </div>
            <div class="ratings">
                <p class="pull-right anuncioofertas">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></p>
                <p class="anuncioprecio">Precio: {{ anuncio.precio }}€</p>
                <p>Usuario: {{ anuncio.usuario }}</p>

            </div>
        </div>

    </div>

    {% if ofertas|length <=0 %}
        <p>¡Este anuncio aun no tiene ofertas!</p>
    {% endif %}
    {% for oferta in ofertas %}
        <div class="oferta col-md-4 divwithform">
            <p>{{ oferta.titulo }}</p>
            <p>{{ oferta.texto }}</p>
            <p>Precio: {{ oferta.precio }}</p>
            <p>Fecha: {{ oferta.fecha|date('d-m-Y') }}</p>
            <p>Usuario: {{ oferta.usuario }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
