{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oferta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ofertum.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ ofertum.titulo }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ ofertum.texto }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ ofertum.precio }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if ofertum.fecha %}{{ ofertum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oferta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('oferta_edit', { 'id': ofertum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
