{% trans_default_domain 'FOSUserBundle' %}
{% block main %}
    <div class="divwithform container formregister col-md-4 col-md-push-3">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    <p>¿Ya tienes cuenta? <a href="{{ path("fos_user_security_login") }}">¡Autenticate ahora!</a></p>
    </div>
{% endblock %}