{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    <div class="container-fluid">
        <form id="formAlimento" novalidate="true"
              method="POST" {{ form_enctype(form) }}
              action="{% if oferta is defined %} {{ path("route_update", {id: oferta.id}) }} {% else %}{{ path("route_create") }}{% endif %}">
            <div class="row col-xs-12">
                <div class="form-group col-md-4">
                    {{ form_label(form.titulo) }}
                    {{ form_widget(form.titulo) }}
                    {{ form_errors(form.titulo) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.texto) }}
                    {{ form_widget(form.texto) }}
                    {{ form_errors(form.texto) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.precio) }}
                    {{ form_widget(form.precio) }}
                    {{ form_errors(form.precio) }}
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="col-md-12">
                <input type="submit" value="Enviar" class="btn btn-primary"/>
            </div>

        </form>
    </div>

    {{ form_errors(form) }}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}


{% endblock %}
