{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block main %}
    <div class="divwithform container">
    {% block fos_user_content %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

            <form  class="form-horizontal userbundleloginform" role="form" action="{{ path("fos_user_security_check") }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label class="control-label col-sm-2" for="username">{{ 'security.login.username'|trans }}</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">{{ 'security.login.password'|trans }}</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </div>
            </form>
    {% endblock fos_user_content %}
    <p>¿No tienes cuenta? <a href="{{ path("fos_user_registration_register") }}">¡Registrate ahora!</a></p>
    </div>
{% endblock %}