{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    <div class="container divwithform">
        <h2>Mis Ofertas</h2>
    {% if ofertas|length <=0 %}
        <p>Aun no has hecho ninguna oferta.</p>
    {% endif %}
    {% for oferta in ofertas %}
        <div class="oferta col-md-4">
            <p>{{ oferta.titulo }}</p>
            <p>{{ oferta.texto }}</p>
            <p>Precio: {{ oferta.precio }}</p>
            <p>Fecha: {{ oferta.fecha|date('d-m-Y') }}</p>
            <p>Usuario: {{ oferta.usuario }}</p>
    </div>
    {% endfor %}
    </div>
{% endblock %}