body{
    background-color: #eeeeee;

}

.anuncio{

}
.divimagenesdetalle img{
    display: inline;
    width: 350px;
    height: 150px;
}
.divimagenesdetalle img:first-of-type, .divimagenesdetalle img:last-of-type{
    width: 320px;
    height: 120px;
}
.formregister input, .formregister label{
    display: block;
}
.divwithform{
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid grey;
}
.fos_user_user_show{
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid grey;
}
.fos_user_user_show img{
    border: 1px solid grey;
}
.fos_user_user_show li{
    list-style: none;
}
.thumbnail{
    background-color: #ffffff;
    padding: 10px;
    padding-bottom: 30px;
}
.userImageProfile{
    width: 100px;
}
.anuncio img{
    width: 400px;
    height: 200px;
}
footer{
    height: 200px;
    margin-top: 50px;
    padding-top: 50px;
    background-color: #222222;
    color: #eeeeee;
    text-align: center;
}