{% trans_default_domain 'FOSUserBundle' %}
{% block main %}
    <div class="container fos_user_user_show col-md-8 col-md-push-2">
        <div class="col-md-2">
            <img class="userImageProfile" src="../../{{ user.userimage }}" alt="Imagen de Perfil">

        </div>
        <div class="col-md-8 col-md-push-2">
            <h2>Datos de Usuario</h2>
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            <hr/>
        </div>



        <div class="col-md-8 ">

            <ul>
                <li><a href="{{ path("fos_user_profile_edit") }}">Editar mi perfil</a></li>
                <li><a href="{{ path('anuncio_new') }}">Crear Anuncio</a></li>
                <li><a href="{{ path('anuncio_ver') }}">Ver mis Anuncios</a></li>
                <li><a href="{{ path('oferta_ver')}}">Ver mis Ofertas</a></li>
                <li><a href="{{ path('seguimiento_listar')}}">Ver anuncios seguidos</a></li>
            </ul>



        </div>
        {% if is_granted('ROLE_ADMIN') %}

            <div class="col-md-8 ">

                <hr/>
                <p>Panel de Administrador</p>
                <ul>
                    <li><a href="{{ path("admin_users") }}">Administrar Usuarios</a></li>
                    <li><a href="{{ path("fos_user_security_logout") }}">Crear Usuarios</a></li>
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}