{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    <div class="col-sm-12 col-lg-12 col-md-12 anuncio go">
        <div class="thumbnail anuncioverthumbnail">

            <img class="anunciothumb" src="../{{ anuncio.imageUno }}" alt="Imagen del Anuncio" />

            <div class="caption">

                <h4 class="anunciotitulo">{{ anuncio.titulo }}</h4>
                <p>{{ anuncio.fecha|date('d-m-Y') }}</p>
                <p class="anunciodivtexto">{{ anuncio.texto }}</p>
            </div>
            <div class="ratings">
                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                    <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Autenticate para hacer ofertas!" href="{{ path("fos_user_security_login") }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>
                {% endif %}
                {% if (is_granted('IS_AUTHENTICATED_FULLY')) and (app.user.username != anuncio.usuario) %}
                    <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Haz tu oferta ahora!" href="{{ path('oferta_new', {'idanuncio' : anuncio.id}) }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>
                {% endif %}
                {% if (is_granted('IS_AUTHENTICATED_FULLY')) and (app.user.username == anuncio.usuario) %}
                    <p class="pull-right anuncioofertas">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></p>
                {% endif %}
                <p class="anuncioprecio">{{ anuncio.precio }}€</p>
                <p>{{ anuncio.usuario }}
                    {% if (is_granted('IS_AUTHENTICATED_FULLY')) and app.user.username == anuncio.usuario %}
                        <a href="{{ path("fos_user_profile_show") }}">(Realizado por mi)</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% if (ofertas|length <=0) and (is_granted('IS_AUTHENTICATED_FULLY')) %}
        <p>Este anuncio aun no tiene ofertas</p>
    {% endif %}
    {% for oferta in ofertas %}
        <div class="oferta col-md-4">
            <p>{{ oferta.titulo }}</p>
            <p>{{ oferta.texto }}</p>
            <p>{{ oferta.precio }}</p>
            <p>{{ oferta.fecha|date('d-m-Y') }}</p>
            <p>{{ oferta.usuario }}</p>
            <a href="{{ path('oferta_delete', {'idanuncio' : anuncio.id, 'idoferta' : oferta.id}) }}">Rechazar Oferta</a>
        </div>
    {% endfor %}
{% endblock %}