{% extends 'AppBundle::base.html.twig' %}
{% block main %}
<div class="container divwithform">
<div class="col-sm-12 col-lg-12 col-md-12 anuncio go container">
    <div class="thumbnail anuncioverthumbnail divimagenesdetalle">
        <img class="anunciothumb img-responsive" src="../../../{{ anuncio.imageDos }}" alt="Imagen del Anuncio" />
        <img class="anunciothumb img-responsive" src="../../../{{ anuncio.imageUno }}" alt="Imagen del Anuncio" />
        <img class="anunciothumb img-responsive" src="../../../{{ anuncio.imageTres }}" alt="Imagen del Anuncio" />
        <div class="caption">

            <h4 class="anunciotitulo">{{ anuncio.titulo }}</h4>
            <p>Fecha: {{ anuncio.fecha|date('d-m-Y') }}</p>
            <p class="anunciodivtexto">{{ anuncio.texto }}</p>
        </div>
        <div class="ratings">
            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Autenticate para hacer ofertas!" href="{{ path("fos_user_security_login") }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>
            {% endif %}
            {% if (is_granted('IS_AUTHENTICATED_FULLY')) and (app.user.username != anuncio.usuario) %}
                <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Haz tu oferta ahora!" href="{{ path('oferta_new', {'idanuncio' : anuncio.id}) }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>
            {% endif %}
            {% if (is_granted('IS_AUTHENTICATED_FULLY')) and (app.user.username == anuncio.usuario) %}
                <p class="pull-right anuncioofertas">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></p>
            {% endif %}
            <p class="anuncioprecio">Precio: {{ anuncio.precio }}€</p>
            <p>Usuario: {{ anuncio.usuario }}
                {% if (is_granted('IS_AUTHENTICATED_FULLY')) and app.user.username == anuncio.usuario %}
                    <a href="{{ path("fos_user_profile_show") }}">(Realizado por mi)</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
    {% if (ofertas|length <=0) and (is_granted('IS_AUTHENTICATED_FULLY')) and app.user.username != anuncio.usuario %}
        <p>¡Este anuncio aun no tiene ofertas!</p>
        <a  href="{{ path('oferta_new', {'idanuncio' : anuncio.id}) }}">¡Haz una oferta ahora!</a>
    {% endif %}
    {% for oferta in ofertas %}
        <div class="oferta col-md-4 divwithform">
            <p>{{ oferta.titulo }}</p>
            <p>{{ oferta.texto }}</p>
            <p>{{ oferta.precio }}</p>
            <p>{{ oferta.fecha|date('d-m-Y') }}</p>
            <p>{{ oferta.usuario }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}