{% extends 'AppBundle::base.html.twig' %}
{% block main %}

    {% for anuncio in anuncios %}
        <div class="col-sm-6 col-lg-3 col-md-3 anuncio go">
            <div class="thumbnail anuncioverthumbnail">

                <img class="anunciothumb" src="../{{ anuncio.imageUno }}" alt="Imagen del Anuncio" />

                <div class="caption">

                    <h4 class="anunciotitulo"><a data-toggle="tooltip" title="{{ anuncio.titulo }}" href="{{ path('anuncio_vermidetalle', {'id' : anuncio.id}) }}">{{ anuncio.titulo }}</a></h4>
                    <p>{{ anuncio.fecha|date('d-m-Y') }}</p>
                    <p class="anunciodivtexto">{{ anuncio.texto }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Ver que ofertas tiene!" href="{{ path('anuncio_vermidetalle', {'id' : anuncio.id}) }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>
                    <p class="anuncioprecio">{{ anuncio.precio }}€</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}