{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    <div class="container divwithform">
        <h2 class="text-center">Mis Anuncios</h2>
    {% if anuncios|length <=0 %}
        <p>Aun no tienes anuncios.</p>
        <a href="{{ path('anuncio_new') }}">¡Crea uno ahora!</a>
    {% endif %}
    {% for anuncio in anuncios %}
        <div class="col-sm-6 col-lg-3 col-md-3 anuncio go">
            <div class="thumbnail anuncioverthumbnail">

                <img class="anunciothumb" src="../../{{ anuncio.imageUno }}" alt="Imagen del Anuncio" />

                <div class="caption">

                    <h4 class="anunciotitulo"><a data-toggle="tooltip" title="{{ anuncio.titulo }}" href="{{ path('anuncio_vermidetalle', {'id' : anuncio.id}) }}">{{ anuncio.titulo }}</a></h4>
                    <p>{{ anuncio.fecha|date('d-m-Y') }}</p>
                    <p class="anunciodivtexto">{{ anuncio.texto }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right anuncioofertas"><a data-toggle="tooltip" data-placement="bottom" data-original-title="¡Haz tu oferta ahora!" href="{{ path('anuncio_vermidetalle', {'id' : anuncio.id}) }}">Ofertas: <span class="badge">{{ anuncio.numOfertas }}</span></a></p>
                    <p class="anuncioprecio">{{ anuncio.precio }}€</p>
                </div>
                <a  href="{{ path('anuncio_edit', {'id' : anuncio.id}) }}">Editar</a>
                <a  href="{{ path('anuncio_delete', {'id' : anuncio.id}) }}">Eliminar</a>

            </div>

        </div>
    {% endfor %}
    <div class="col-md-12">
        <p>Los anuncios que tengan ofertas activas no podran ser borrados hasta que
            no se rechazen todas sus ofertas.</p>
    </div>
    </div>
{% endblock %}