{% extends 'AppBundle::base.html.twig' %}
{% block main %}
        <div class="oferta col-md-4">
            <p>{{ usuario.username }}</p>
            <p>{{ usuario.email }}</p>
        </div>
{% endblock %}