{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    {% for usuario in usuarios %}
        <div class="oferta col-md-4">
            <p>{{ usuario.username }}</p>
            <p>{{ usuario.email }}</p>
            <ul>
                <li><a href="{{ path('admin_user_delete', {'id' : usuario.id}) }}">Eliminar Usuario</a></li>
                <li><a href="{{ path('admin_user_edit', {'id' : usuario.id}) }}">Modificar Usuario</a></li>
            </ul>


        </div>
    {% endfor %}
{% endblock %}