{% extends 'AppBundle::base.html.twig' %}
{% block main %}
    <div class="container-fluid">
        <form id="formAdminUsuario" novalidate="true"
              method="POST" {{ form_enctype(form) }}
              action="{% if usuario is defined %} {{ path("admin_user_update", {id: usuario.id}) }} {% else %}{{ path("admin_user_create") }}{% endif %}">
            <div class="row col-xs-12">
                <div class="form-group col-md-4">
                    <p>Nombre de Usuario anterior: {{ usuario.username }}</p>
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                </div>

                <div class="form-group col-md-4">
                    <p>Email anterior: {{ usuario.email }}</p>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>

            </div>
            {{ form_rest(form) }}

            <div class="col-md-12">
                <input type="submit" value="Enviar" class="btn btn-primary"/>
            </div>

        </form>
    </div>

    {{ form_errors(form) }}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}


{% endblock %}
