

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <p>{{ 'profile.show.username'|trans }}: {{ app.user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ app.user.email }}</p>
        <li><a href="{{ path("fos_user_profile_show") }}">Mi Perfil</a></li>
        <li><a href="{{ path("fos_user_security_logout") }}">Salir</a></li>
    {% endif %}
