<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Club de la Quincalla">
<meta name="keywords" content="Compra, Venta, Oferta, Anuncio, Club, Quincalla">
<meta name="author" content="Elías Manzaneda Santamaría">

<title>{% block title %}Club de la Quincalla{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            '../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
            'css/main.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />