<nav class="navbar navbar-inverse" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
         para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path("route_homepage") }}">Club de la Quincalla</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path("route_homepage") }}">Inicio</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <li><a href="{{ path("fos_user_registration_register") }}">Registrarse</a></li>
                <li><a href="{{ path("fos_user_security_login") }}">Entrar</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path("fos_user_profile_show") }}">Mi Perfil</a></li>
                <li><a href="{{ path("fos_user_security_logout") }}">Salir</a></li>
            {% endif %}



        </ul>

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
        </form>

        <ul class="nav navbar-nav navbar-right">


        </ul>
    </div>
</nav>